<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productivity Corner</title>
	<link rel="stylesheet" href="homepage.css">
	<script src="homepage.js" defer></script>
</head>

<body>
	<div class="header">
		<h1>The Corner</h1>
		<a>Home</a>
		<a href="tasklist/">TaskList</a>
		<a href="diary/">Diary</a>
		<a>Blog</a>
		<div id="logincontainer">
			<% if(!user.isAuth){ %>
				<button id="loginbtn">Log in with Google</button>
				<script type="text/javascript">
					document.getElementById("loginbtn").onclick = function () {
						location.href = "/auth/google";
					};
				</script>
				<% } else {%>
					<button id="logoutbtn">Logout</button>
					<img src=<%=user.image%> id="profilepic">
					<script>
						const pic = document.getElementById("profilepic");
						document.getElementById("logoutbtn").onclick = function () {
							location.href = "/logout";
							pic.destroy();
						};

					</script>

					<% } %>

		</div>

	</div>
	<div class="firstbody">
		<div class="para1">
			<h1>Is This Website for you?</h1>
			<p>This Website is destined for people who like order, and crave to organise all their tasks,
				activities and
				trackable stats into one neat website that does it all!</p>
		</div>
		<img alt="bullet journal"
			src="https://inkarto.com/cdn/shop/articles/1200px-bullet-journal-by-matt-ragland.jpg?v=1715353742">
	</div>
	<div class="secondbody">
	</div>

</body>

</html>
