<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task List</title>
	<link rel="stylesheet" href="styles.css">
	<script src="script.js" defer></script>
</head>

<body>
	<script>0</script>
	<p id="data" style="display: none;">
		<%=JSON.stringify(locals.data)%>
	</p>
	<div class="header">
		<h1>The Corner</h1>
		<a href="../index.html">Home</a>
		<a>TaskList</a>
		<a>Diary</a>
		<a>Blog</a>
	</div>
	<div id="firstbody">
		<button id="addbtn">Add</button>
		<input type="text" name="taskinput" id="entry">
		<button id="clearbtn">Clear</button>
		<button id="savebtn">Save</button>
	</div>
	<div id="secondclass">

	</div>
</body>

</html>
