body {
	margin: 0;
}

a,
h1,
h2,
p {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.header {
	display: flex;
	background-color: brown;
	align-items: center;
	justify-content: space-evenly;
	gap: 24px;
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 0px;
	padding-bottom: 0px;
	max-height: 200px;
}

.header h1 {
	margin-right: auto;
}

.header a {
	color: white;
}

#firstbody {
	display: flex;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

#secondclass {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
